*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.contenedor-web{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(45, 41, 41);
    color: white;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/************************************************
*************** HEADER CON NAV ******************
********************************************** */

header{
    background-color: rgb(16, 16, 37);
    padding: 1%;
    text-align: center;
}

nav{
    width: 100%;
}

h1{
    font-size: 2.5em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
  
.oculto{
    display: none;
}

li{
    margin: 0 10px;
    font-size: 17px;
    padding: 5px;
}

li:hover{
    background-color:rgb(128, 128, 141);
}

/* ***********************************************
**************** SECTION *************************
*********************************************** */

section{
    width: 100%;
    height: 600px;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-de-section{
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: black;
}

#meme-img , #meme-img2{
    height: 100px;
    width: 100%;
    max-width: 540px;
    padding: 5%;
    background-color:white;
    color: black;
    font-size: 50px;
    text-align: center;
    overflow: auto;
}

/* **************************************
********* BOTON DE DESCARGA ************
************************************** */
.boton-de-descargar{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}

.p-de-descarga{
    max-width: 200px;
    padding: 10px;
    background-color: rgb(2, 96, 2);
}

.p-de-descarga:hover{
    background-color: rgb(3, 82, 3);
}

/******************************************
***************** ASIDE *******************
******************************************/
/* #texto{
    display: none;
} */

.aside-texto, .aside-imagen{
    max-width: 280px ;
    height:100vh;
    background-color: rgb(20, 20, 50);
    position: fixed;
}

.contenedor-de-aside, .contenedor-aside-imagen{
    width: 100%;
    max-width: 280px;
    padding: 4%;
    margin: 0 45px 0 0;
}

.cancelar{
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: red;
    text-align:center;
}

h2{
    text-align: center;
}

/* INPUT DE FUENTE */

#izquierda, #centro, #derecha{
    width: 15%;
}

#font-size{
    width: 27%;
}

input{
    height: 20px;
    margin-top: 1%;
    padding: 2%;

}


/* color y fondo */

.contenedor-de-control{
    display:flex
}

#color, #fondo-texto{
    width: 90%;
}

 .contenedor-fondo-texto{
    margin-left: 2% ;
}

/* CONTORNO */

#ninguno, #claro, #oscuro{
    width: 26%;
}


/* --------------------------------------------------------------------------------------------------------------------------- */
                                            /* ASIDE DE IMAGEN  */


#imagen-aside{
display: none;
}

h4{
    margin-bottom: 2%;
}

.control{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    max-width: 250px;
}

#url, #fondo, #fondo2{
    height: 20px ;
    padding: 2%;
    font-size: 18px;
    color: white;
    background-color: rgb(108, 107, 120);
}

#fondo, #fondo2{
    width: 50%;
    margin: 1%;
}

.contenedor-input-fondo{
    display: flex;
}

.boton-restablecer{
    background-color: rgb(70, 69, 89);
    padding: 2%;
    margin: 2%;
    width: 150px;
    text-align: center;
}











/* **********************************************
**************** MODO CLARO ********************* 
************************************************/
/* 
.contenedor-web-white{
    background-color: white;
    color: black;
}

.header-white{
    background-color: gray;
}

.aside-white{
    background-color: rgb(103, 103, 167);
} */

/* ------------------------------------------------------------------------------------------------ */





