*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.contenedor-web{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(237, 235, 235);
    color: rgb(44, 44, 44);
    height: 110vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.contenido-nav-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*************************************************************
*********************** HEADER CON NAV ***********************
*************************************************************/
header{
    box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.237);
    padding: 0.5%;
    background-color: rgb(222, 222, 222);
    text-align: center;
}

nav{
    width: 100%;
}

h1{
    font-size: 2.4em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
  
.oculto{
    display: none;
}

li{
    margin: 0 10px;
    font-size: 17px;
    padding: 5px;
}

li:hover{
    background-color:rgb(152, 152, 163);
}

/* ***********************************************
**************** SECTION *************************
*********************************************** */

section{
    width: 100%;
    height: 600px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-de-section{
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: black;
}

#div-img{
    height: 400px;
    background-color: black;
}

#text-meme , #text2-meme{
    height: 100px;
    width: 100%;
    background-color:white;
    color: black;
    font-size: 50px;
    text-align: center;
}

img{
height: 100%;
width: 100%;
}

/* **************************************
********* BOTON DE DESCARGA ************
************************************** */
.btn-descarga{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.5%;
    color: white;
}

.contenedor-descarga{
    max-width: 200px;
    padding: 10px;
    background-color: rgb(2, 96, 2);
}

.contenedor-descarga:hover{
    background-color: rgb(4, 82, 3);
}

/******************************************
***************** ASIDE *******************
******************************************/

/* -----------------------------
        ASIDE DE TEXTO
------------------------------*/
.aside-text, .aside-img{
    max-width: 280px ;
    height:100vh;
    background-color: rgb(230, 230, 230);
    position: fixed;
}

.contenedor-asideText, .contenedor-asideImg{
    width: 100%;
    max-width: 280px;
    padding: 4%;
    margin: 0 45px 0 0;
}

.cancelar{
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: red;
    text-align:center;
}

h3{
    text-align: center;
}

.panel-de-control{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    max-width: 250px;
}

label{
    font-size: 14px;
    font-weight: 900;
}

input{
    height: 20px;
    margin-top: 1%;
    padding: 2%;
    font-size: 18px;
    outline: 0.2px ;
}

span{
    font-size: 16px;
    font-weight: 900;
}

/*** FUENTES ***/
.align{
    width: 21%;
    height: 32px;
    font-size: 16px;
    background-color: white;
    border: 1px solid rgb(107, 107, 107);
}

#font-size{
    width: 26%;
}

select{
    padding: 1%;
    font-size: 18px;
    background-color: white;
    background-color: transparent;
    border: 0;
}

option{
    padding: 1%;
    background-color: white;
    font-size: 16px;
}

/*** COLOR Y FONDO ***/
.contenedor-de-control{
    display:flex;
}

.contenedor-fondo-texto{
    margin-left: 2% ;
}
.contenedor-fondo-text, .contenedor-color-text{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.div-fondo-texto{
    display: flex;
    background-color: white;
    align-items: center;
    margin-left: 5%;
}

.input-color{
    width: 25px;
    height: 25px; 
    background-color: transparent;
    border: 0; 
    font-size: 16px;
}

/*** CONTORNO ***/
.contorno{
    width: 32%;
    padding: 1%;
    height: 40px;
    font-weight: 900;
    color: rgb(60, 60, 60);
    background-color: white;
    border: 1px solid rgb(107, 107, 107);
}

/* -------------------------------------------------- 
                   ASIDE DE IMAGEN  
---------------------------------------------------*/

h4{
    margin-bottom: 2%;
    font-size: 16px;
}

/*** FONDO ***/
.div-de-fondo{
    background-color: white;
    display: flex;
    border: 0.1px solid rgb(107, 107, 107);
    padding: 1%;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 1%;
}

.div-input-fondo{
    display: flex;
}

/*** FILTROS ***/
.filtro{
    padding: 0;
}

.boton-reestablecer{
    background-color: rgb(80, 79, 99);
    color: white;
    padding: 2%;
    margin: 2%;
    width: 150px;
    text-align: center;
}

.boton-reestablecer:hover{
    background-color: rgb(100, 99, 119);
}
/* **********************************************
**************** MODO OSCURO ********************* 
************************************************/

/* contenedor-web */
.web-black{
    background-color: rgb(45, 41, 41);
    color: white;
}

/* header */
.header-black{
    background-color: rgb(16, 16, 37);
}

/* aside */
.aside-black{
    background-color: rgb(20, 20, 50);
}

/* fuente-text, aside de texto */
.fuente-text{
    color: black;
    background-color: white;
}

.span-black{
    color: black;
}

/*****************************************************
*************** RESPOSIVE DE 400 PX ******************
*****************************************************/

@media(min-width:400px){
    
}









